# Interactive widgets

[ipywidgets](https://ipywidgets.readthedocs.io/en/stable/index.html) gives some interactive tools for jupyter notebook.

In [1]:
import numpy as np
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interact


import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
n = 100
df = pd.DataFrame(data={'gender': np.random.choice(['F', 'M'], n), 
                        'age': np.random.normal(loc=30, scale=1, size=n).astype(int), 
                        'income': np.random.normal(loc=1000, scale=1000, size=n).astype(int)})
df.head()

  gender  age  income
0      F   30    1294
1      F   31    3177
2      M   30    -164
3      M   30     747
4      F   30    -601

In [3]:
@interact(by=['Female', 'Male', 'Both'])
def visualization_1(by='Both'):
    mapping = {'Female': {'F'}, 'Male': {'M'}, 'Both': {'F', 'M'}}
    data = df[df['gender'].isin(mapping[by])]
    
    plt.figure(dpi=100)
    plt.scatter(data['age'], data['income'])
    plt.xlabel('age')
    plt.ylabel('income');

interactive(children=(Dropdown(description='by', index=2, options=('Female', 'Male', 'Both'), value='Both'), O…

In [4]:
@interact(income_left=800, income_right=1200)
def visualization_1(income_left, income_right):
    data = df[df['income'].between(income_left, income_right)]

    sns.boxplot(x='gender', y='income', data=data)
    plt.xlabel('gender')
    plt.ylabel('income');

interactive(children=(IntSlider(value=800, description='income_left', max=2400, min=-800), IntSlider(value=120…