# Interactive widgets

[ipywidgets](https://ipywidgets.readthedocs.io/en/stable/index.html) gives some interactive tools for jupyter notebook.

In [1]:
import numpy as np
import pandas as pd
from ipywidgets import interact


import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
mpl.rcParams['figure.dpi'] = 100

In [2]:
n = 100
df = pd.DataFrame(data={'gender': np.random.choice(['F', 'M'], n), 
                        'age': np.random.normal(loc=30, scale=10, size=n).astype(int), 
                        'income': np.random.normal(loc=1000, scale=1000, size=n).astype(int)})
df.head()

  gender  age  income
0      F   20     263
1      M   16    1581
2      M   12     639
3      M   29    -146
4      M   34     607

In [3]:
@interact(group=['Female', 'Male', 'Both'])
def income_vs_age(group='Both'):
    mapping = {'Female': {'F'}, 'Male': {'M'}, 'Both': {'F', 'M'}}
    data = df[df['gender'].isin(mapping[group])]
    
    plt.scatter(data['age'], data['income'])
    plt.xlabel('age')
    plt.ylabel('income');

interactive(children=(Dropdown(description='group', index=2, options=('Female', 'Male', 'Both'), value='Both')…

In [4]:
@interact(age_min=20, age_max=50)
def income_by_gender(age_min, age_max):
    data = df[df['age'].between(age_min, age_max)]

    sns.boxplot(x='gender', y='income', data=data)
    plt.xlabel('gender')
    plt.ylabel('income');

interactive(children=(IntSlider(value=20, description='age_min', max=60, min=-20), IntSlider(value=50, descrip…